
<p>***********************************************************************************************************************************</p>
<p><label>Data:</label><label>{{date}}</label></p>

<p><label>Produto:</label><label>{{title}}</label></p>

<p style="background-color:{{alertColor}}"><label><strong>Preço Atual:</strong></label><label> {{current}} {{price}}</label></p>

<p><label>Data Min:</label><label> {{dateMin}}</label></p>

<p><label>Preço Min:</label><label> {{current}} {{minPrice}}</label></p>

<p><label>Data Max:</label><label> {{dateMax}}</label></p>

<p><label>Preço Max:</label><label> {{current}} {{maxPrice}}</label></p>

<p><strong>Link:</strong><a href="{{urlFull}}">{{urlFull}}</a></p>
