<!DOCTYPE html>
<html>
 <head>
     <meta name="viewport" content="width=device-width">
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <title>Hardware alteração de preço!!!!!!</title>
 </head>
 <body>
    <p style="font-size: 14px; font-weight: normal;">Hi Ricardo</p>
    {{body}}
 </body>
</html>